#cloud-config
users:
  - default
  - name: ${USERNAME}
    gecos: ${USERNAME}
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    lock_passwd: false
    ssh-authorized-keys:
      - ${PUBLIC_KEY_CONTENT}
